{% extends 'base.html' %}

{% load static %}

{% block title %} Django Bookmark List {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/2.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>안녕하세요?</h1>
            <span class="subheading">안녕히 계세요.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container position-c">
<div id="'content">
    <h1>리스트</h1>
    <br>
    <ul>
        {% for bookmark in object_list %}
            <li><a href = "{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}




#<!DOCTYPE html>
#<html>
#<head>
#<title>Django Bookmark List</title>.
#</head>
#<body>
#</body>

</html>